[mysqld]
mysqlx=off

# The TCP/IP addresses the MySQL Server will listen on
bind_address="127.0.0.1,::1"
mysqlx_bind_address="127.0.0.1,::1"

# My custom configurations (as secure as possible to test it)
require_secure_transport=on

tls_version=TLSv1.3
admin_tls_version=TLSv1.3

# The default authentication plugin to be used when connecting to the server
default_authentication_plugin=caching_sha2_password

# General logging
general-log=off

# Slow queries logging
slow-query-log=off
long-query-time=10

# Binary log
# I don't need bin log, is primarily used for replication and after restore from backup
disable-log-bin=on

[mysqld-8.1]
# Ensure that the location of each required SSL certificate file is present in the data directory
tls_certificates_enforced_validation=on
