# Dependencies include and library paths
# ---

win32-g++* {
}
else:win32-msvc* {
    # includes
    # range-v3
    INCLUDEPATH += $$quote(E:/c/qMedia/vcpkg/installed/x64-windows/include)
}
else:unix {
    # includes
    # range-v3
    INCLUDEPATH += $$quote(/home/xyz/vcpkg/installed/x64-linux/include)

    # others
    clang: CONFIG *= use_lld_linker
    else: CONFIG *= use_gold_linker
}
