# Old/new developers can be added here to map their contributions accurately
# before joining and after retiring, as well as the usual uses of .mailmap.
# See gitmailmap(5) for format details.
# Please keep this list sorted.
# Use "grep -v '^#' .mailmap | LC_ALL=en_US.utf-8 sort".
Silver Zachara <silver.zachara@gmail.com>
