# Migrations and Seeders header files
# ---

# Tom example migrations
include($$TINYORM_SOURCE_TREE/tests/database/migrations.pri)
# Or include yours migrations
#include(/home/xyz/your_project/database/migrations.pri)

# Tom example seeders
include($$TINYORM_SOURCE_TREE/tests/database/seeders.pri)
# Or include yours seeders
#include(/home/xyz/your_project/database/seeders.pri)

# Dependencies include and library paths
# ---

# MinGW
win32-g++|win32-clang-g++ {
    # Enable ccache wrapper
    CONFIG *= tiny_ccache

    # Includes
    # tabulate
    INCLUDEPATH += $$quote(C:/msys64/home/xyz/vcpkg/installed/x64-mingw-dynamic/include/)
    QMAKE_CXXFLAGS += -isystem $$shell_quote(C:/msys64/home/xyz/vcpkg/installed/x64-mingw-dynamic/include/)

    # Use faster linker
    # CONFIG *= use_lld_linker does not work on MinGW
    QMAKE_LFLAGS *= -fuse-ld=lld
}
else:win32-msvc {
    # Includes
    # range-v3 and tabulate
    INCLUDEPATH += $$quote(E:/xyz/vcpkg/installed/x64-windows/include/)
}
else:unix {
    # Includes
    # range-v3 and tabulate
    QMAKE_CXXFLAGS += -isystem $$shell_quote(/home/xyz/vcpkg/installed/x64-linux/include/)

    # Use faster linkers
    clang: CONFIG *= use_lld_linker
    else: CONFIG *= use_gold_linker
}
