#!/usr/bin/env pwsh

Param(
    [Parameter(Position = 0, Mandatory = $false,
        HelpMessage = 'Specifies the files to be processed, is joined with by the | character ' +
            'and used in the parenthesized regex eg. (file1|file2).')]
    [ValidateNotNullOrEmpty()]
    [string[]] $Files,

    [Parameter(Mandatory = $false,
        HelpMessage = 'Specifies the files paths to be processed, is joined with by the | ' +
            'character and used in the parenthesized regex eg. (folder1|folder2).')]
    [ValidateNotNullOrEmpty()]
    [string[]] $FilesPaths,

    [Parameter(HelpMessage = 'Skip Clang Tidy analyzes.')]
    [switch] $SkipClangTidy,

    [Parameter(HelpMessage = 'Skip Clazy standalone analyzes.')]
    [switch] $SkipClazy,

    [Parameter(HelpMessage = 'Clean CMake build (remove everything inside the -BuildPath).')]
    [switch] $Clean,

    [Parameter(HelpMessage = 'Specifies the CMake build type.')]
    [ValidateSet('Debug', 'Release', 'RelWithDebInfo', 'MinSizeRel')]
    [ValidateNotNullOrEmpty()]
    [string] $BuildType = 'Debug',

    [Parameter(Mandatory = $false,
        HelpMessage = 'Specifies the checks filter, when not specified, use clang-tidy default ' +
            '(eg. -*,readability-magic-numbers to run only a specific check).')]
    [ValidateNotNullOrEmpty()]
    [string[]] $ClangTidyChecks
)

Set-StrictMode -Version 3.0

Clear-Host

E:\dotfiles\bin\Lint-TinyORM.ps1 `
    -BuildPath '<your_path_here>\TinyOrm\TinyOrm-builds-cmake\build-lint-qt5' `
    -QtVersion 5 @PSBoundParameters `
    -Verbose:$VerbosePreference
