#!/usr/bin/env pwsh

Param(
    [Parameter(Position = 0,
        HelpMessage = 'Specifies the cpp files to be processed, is joined with the | character ' +
            'and used in the parenthesized regex eg. (file1|file2).')]
    [ValidateNotNullOrEmpty()]
    [string[]] $Files,

    [Parameter(
        HelpMessage = 'Specifies the files paths to be processed, is joined with by the | ' +
            'character and used in the parenthesized regex eg. (folder1|folder2).')]
    [ValidateNotNullOrEmpty()]
    [string[]] $FilesPaths,

    [Parameter(HelpMessage = 'Skip Clang Tidy analyzes.')]
    [switch] $SkipClangTidy,

    [Parameter(HelpMessage = 'Skip Clazy standalone analyzes.')]
    [switch] $SkipClazy,

    [Parameter(HelpMessage = 'Clean CMake build (remove everything inside the -BuildPath).')]
    [switch] $CleanBuild,

    [Parameter(HelpMessage = 'Specifies the CMake build type.')]
    [ValidateSet('Debug', 'Release', 'RelWithDebInfo', 'MinSizeRel')]
    [ValidateNotNullOrEmpty()]
    [string] $BuildType = 'Debug',

    [Parameter(
        HelpMessage = 'Specifies the checks filter, when not specified, use clang-tidy default ' +
            '(eg. -*,readability-magic-numbers to run only a specific check).')]
    [ValidateNotNullOrEmpty()]
    [string[]] $ClangTidyChecks,

    [Parameter(HelpMessage = 'Specifies the number of tidy instances to be run in parallel.')]
    [ValidateNotNull()]
    [int] $Parallel
)

Set-StrictMode -Version 3.0

Clear-Host

$Script:TinyORMMainPath = '<your_path_here>'

Lint-TinyORM.ps1 `
    -SourcePath "$Script:TinyORMMainPath\TinyORM" `
    -BuildPath "$Script:TinyORMMainPath\TinyORM-builds-cmake\build-lint-qt5" `
    -QtVersion 5 `
    -Verbose:$VerbosePreference `
    @PSBoundParameters
