#!/usr/bin/env pwsh

Set-StrictMode -Version 3.0

Write-Host 'Setting up environment for Qt 6.5.1 usage...' -ForegroundColor Magenta

$env:Path = '<your_path_here>\Qt\6.5.1\msvc2019_64\bin;' + $env:Path

. <your_path_here>\dotfiles\bin\vcvars64.ps1
