#!/usr/bin/env pwsh

Set-StrictMode -Version 3.0

# Initialize build environment if it's not already there
if (-not (Test-Path env:WindowsSDKLibVersion)) {
    . qtenv6.ps1
}

str.ps1 -BuildPath '<your_path_here>\TinyORM\TinyORM-builds-qmake\build-TinyORM-Desktop_Qt_6_6_1_MSVC2022_64bit-Release'
