# Optimized for Clang-Tidy v18
---
InheritParentConfig: true
Checks:
    - -bugprone-unchecked-optional-access
    - -cppcoreguidelines-pro-type-const-cast
    - -cppcoreguidelines-pro-type-reinterpret-cast
    - -misc-const-correctness
    - -readability-function-cognitive-complexity
CheckOptions:
  - key:   misc-header-include-cycle.IgnoredFilesList
    value: '[\\\/]+tests[\\\/]+models[\\\/]+models[\\\/]+.+\.hpp$'
